*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Karma', serif;
  width: 100%;
  color: #2d3945;
}

/*------- header -------*/

.main-header {
  padding-top: 10px;
  margin-bottom: 20px;
  background-color:#2d3945;
}

h1 {
  color: white;
  font-weight: 600;
}

h2,
legend {
  font-weight: 600;
  font-size: 1.6em;
}

h2 {
margin-bottom: 0;
}

.header-info {
  background-color: white;
  padding: 20px 0;
  margin-bottom: 10px;
}

.header-text {
  width: 80%;
  margin:auto;
  font-size: 1.2em;
  font-weight: 300;
  padding-top:10px;
  opacity: .5;
}

.border {
  position: relative;
  border-bottom: 5px solid #2d3945;
  margin:20px auto;
  width: 90%;
}

.border::before {
  content:"";
  position: absolute;
  border-bottom: 2px solid #2d3945;
  top:10px;
  left: 0;
  width: 100%;
}

/*------ main --------*/


.main-content {
  width: 98%;
  margin: 40px auto;
}

form {
  display: flex;
  flex-direction: column;
}


fieldset {
  border: none;

  }

fieldset:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  }

legend {
  margin-bottom: 20px;
}


input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea,
select {
	background-color: #eff0f1;
	border: 1px solid #eff0f1;
	border-radius: 5px;
	height: auto;
	padding: 20px;
	color: #adb2b7;
  outline: 0;
}

textarea {
  resize: none;
  height: 130px;
}

select {
  height: 60px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  width: 100%;
}

input[type="number"] {
  width: 50%;
}

input[type="text"] + label,
input[type="email"] + label,
input[type="tel"] + label,
input[type="number"] + label {
  margin-top: 15px;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input::placeholder {
  color: #adb2b7;
	font-style: italic;
	font-size: 1em;
	font-family: 'Karma', serif;
	font-weight: 300;
	text-align: right;
	padding-right: 5px;
}

label {
	opacity: .7;
  font-size: 1.2em;
}

.group1 label + input,
.group1 label + select {
  margin-top: 8px;
  margin-bottom: 25px;
}

.group2 label + input {
  margin-top: 20px;
  }

.group2 > label {
  display: inline;
}

.group2 > label:not(:first-of-type) {
  margin-left: 10px;
}

.group2 > label::after {
  content: "";
  display: block;
}

.headline::before {
  content: "";
  display: block;
  padding-top: 10px;
}

.border2 {
  position: relative;
  border-top: 2px solid #2d3945;
  margin:0 auto;
  padding-bottom: 30px;
  width: 92%;
}

button[type="submit"] {
  width:94%;
  color: white;
  background-color: #4ebbb5;
  padding: 22px 0;
  margin: auto;
  border-radius: 5px;
  font-family: 'Karma', serif;
  font-size: 1.5em;
  font-weight:600;
}

/*--- footer---  */

/* footer {
  display: flex;
  flex-direction: column;
} */

.footer-info {
 margin: 0 auto 10px auto;
}

/*--- helpers---  */

.center {
	text-align: center;
}

/*center input fields
style outline - focus state
fix zip code input style  */
